.HumidityDisplay {
    position: absolute;
    width: 40%;
    height: 300px;
    right: 7%;
    top: 100px;

    background: #DDF0F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}
.HumidityDisplay h1{
    position: absolute;
    margin: 20px;
    font-family: 'Alike Angular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #072711;
}
.icon{
    width: 20%;
    height: 100px;
    top:92px;
    left:8%;
    position: absolute;
    mix-blend-mode: overlay;

}

.humidityBarBorder {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 300px;
    border-radius: 150px 150px 0 0;
    background-color: #EEFCF2;
}
.humidityBarCover{
    position: relative;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 125px;
    width: 250px;
    border-radius: 125px 125px 0 0;
    background-color: #DDF0F8;

}
.HumidityDisplay p{
    position: absolute;
    top: 200px;
    left: 12%;
    font-family: 'Alike Angular';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    
    color: #072711;
}
@media only screen and (max-width: 1190px) {
    .HumidityDisplay {
        min-width: 60%;
        height: 300px;
        top: 435px;
        left:20%;
        }
}