.TemperatureDisplay {
    position: absolute;
    width: 40%;
    height: 300px;
    left: 7%;
    top: 100px;

    background: #DDF0F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}
.TemperatureDisplay h1{
    position: absolute;
    margin: 20px;
    font-family: 'Alike Angular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #072711;
}

.TemperatureDisplay img{
    width: auto;
    height: 123px;
    top:77px;
    left:10%;
    position: absolute;
}

.TemperatureDisplay p{
    position: absolute;
    top:110px;
    left: 45%;
    font-family: 'Alike Angular';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #072711;
}
.temperatureBarCircle{
position: absolute;
width: 50px;
height: 50px;
left: 9.09090909%;
top: 220px;
border-radius: 100%;

background: #EF5361;
}

@keyframes progress {
    0% { --percentage: 0; }
    100% { --percentage: var(--value); }
  }
  
  @property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
.temperatureBarMeter{
    position: relative;
    width: 76%;
    height: 22px;
    background: #EF5361;
    border-radius: 0px 20px 20px 0px;
}
.temperatureBarBorder{
    position: relative;
    width: 76.363636363%;
    height: 22px;
    left: 16.8%;
    top: 234px;

    background: #EEFCF2;
    border-radius: 0px 20px 20px 0px;
}
@media only screen and (max-width: 1190px) {
    .TemperatureDisplay {
        min-width: 60%;
        height: 300px;
        left:20%;
        }
}