#homeMenuBar {
    text-align: center;
    height: 70px;
    background-color: #21AB92;
    padding: 10px;
}
#homeMenuBar h1{
    font-family: 'Alike Angular';
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
    vertical-align: middle;
    color: #072711;
}
.SensorContainer{
    background: #EEFCF2;
    height: 100%;
    position:relative;
    max-width: 1960px;
}